<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <nav class="navbar navbar-expand navbar-light  topbar mb-4 static-top shadow">
                  
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 ">
                        <div class="input-group">
                           <img src="/assets/images/Y.png" width="100" routerLink="home">
                        </div>
                    </form>
                    
                    <ul class="navbar-nav ml-auto">
                        
                           <button class="btn btn-sucess col-md-12"  routerLink="dash">Admin</button>
                    </ul>
                </nav><br><br>
<router-outlet></router-outlet>
 